

/* Element selector */
ul {
  list-style-type: none;
  padding: 0;
}

/* class selector */
.bg-yellow {
  background-color: yellow !important;
}

/* and operator - element and class - select all li's that also have a class bg-yellow */
li.bg-yellow {
  color: red;
}

/* select all elements that have a class bg-yellow and also have a class big-text */
.bg-yellow.big-text {
  font-size: 30px;
}

/* select all elements that have a" class bg-text and also have a parent with a class bg-yellow */
.bg-yellow .big-text {
}

/* select all spans that are direct child of p */
p > span {
  color: green;
}

/* Hierarchy selector - select all span that have a parent div */
div span{
  color: purple
}

.bg-brown {
  background-color: brown;
} 

div > button:hover {
  background-color: lightblue;
  color: white;
  cursor: pointer;
}

div > h2:first-child {
  color: red;
}


p::selection {
  background-color: yellow;
  color: black;
}

.hide {
  display: none !important;
}

div.inherit-example {
  font-family: Arial, sans-serif;

  /* css shorthand */
  border: 1px solid black;

  /* border-style: solid;
  border-width: 1px;
  border-color: black; */
}


/* body > .menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
} */