
.row {
  display: flex;
  flex-wrap: wrap;
}

.content {
  height: 100px;
  background-color: cyan;
  border: solid navy;
  margin: 5px;
}

/* Mobile first (<= 600px) */
.col {
  width: 100%;
}

/* Tablet 601px to 900px */
@media (min-width: 601px) {
  .col {
    width: 50%;
  }
}

/* Desktop 901px  */
@media (min-width: 901px) {
  .col {
    width: 25%;
  }
}
