

/* Element selector */
ul {
  list-style-type: none;
  padding: 0;
}

/* class selector */
.bg-yellow {
  background-color: yellow;
}

/* and operator - element and class - select all li's that also have a class bg-yellow */
li.bg-yellow {
  color: red;
}

/* select all elements that have a class bg-yellow and also have a class big-text */
.bg-yellow.big-text {
  font-size: 30px;
}

/* select all elements that have a" class bg-text and also have a parent with a class bg-yellow */
.bg-yellow .big-text {
}

/* select all spans that are direct child of p */
p > span {
  color: green;
}

/* Hierarchy selector - select all span that have a parent div */
div span{
  color: purple
}

.bg-brown {
  background-color: brown;
} 